@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: 'Outfit', sans-serif;
}

body{
  background-color: #bcbfc4;
  color: #e2e8f0;
}

@theme {
  --color-primary: #5f6fff;
}
